@use "../abstracts" as a;

.card {
  display: flex;
  flex-direction: column;
  max-width: 34.3rem;
  background-color: a.$color-white;
  border-radius: 10px;
  overflow: hidden;

  &__image-box {
    @include a.respond(desktop) {
      flex: 1 0 50%;
    }
  }

  &__image img {
    width: 100%;

    @include a.respond(desktop) {
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include a.respond(desktop) {
      flex: 1 0 50%;
      justify-content: center;
    }
  }

  &__category {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__name {
    color: a.$color-grey-2;
    font-family: "Fraunces", sans-serif;
    font-size: 3.2rem;
    line-height: 32px;
  }

  &__summary {
    font-size: 1.4rem;
    line-height: 23px;
    font-weight: 500;
  }

  &__price {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__current-price {
    color: a.$color-green-1;
    font-family: "Fraunces", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__old-price {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: line-through;
  }

  @include a.respond(desktop) {
    flex-direction: row;
    max-width: 60rem;
  }
}
